.form-select-base,
.form-multiselect-base {
  @apply block w-full appearance-none tracking-wide outline-hidden transition-colors duration-200 ease-in-out focus:outline-hidden disabled:select-none;
}

.form-select,
.form-multiselect {
  @apply rounded-lg border border-gray-300 bg-white px-3 py-2 text-start text-gray-800 placeholder:text-gray-600 dark:border-dark-450 dark:bg-dark-700 dark:text-dark-100 dark:placeholder:text-dark-200 hover:border-gray-400 dark:hover:border-dark-400 focus:border-primary-600 dark:focus:border-primary-500;
}

.form-multiselect {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  print-color-adjust: unset;
}